{%extends 'zappyapp/base.html'%}
{%block cartview%}
<script type="text/javascript">
$(document).ready(function(){
  console.log("Document Loaded...");
	$("#id_product").blur(function(){
		var pname=$("#id_product").val();
    console.log(pname);
	   alert(pname);
  $.ajax({
			url:'checkproduct',
      data: {
        'pname': pname
          },
			type:'get',
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("Product already exists.");
          $("#id_product").val("");
                           }
      });
    });
});
</script>
<div class="container">
  {%if price%}
  <div class="row">
<div class="col-md-8">
<table class="table">
  <thead>
    <tr>
      <th scope="col">product_id</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {%for key,value in request.COOKIES.items%}
    {%if key.isdigit%}
    <tr>
      <td>{{key}}</td>
      <td><input class="text-center" id="" min="1" type="number" name="{{key}}" value="{{value}}"></td>
    </tr>
    {%endif%}
    {%endfor%}
  </tbody>
</table>
</div>
<div class="col-md-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {%for p in price%}
      <tr>
        <td>{{p}}</td>
      </tr>
      {%endfor%}
      {%if price%}
      <tr>
        <td>Total={{total}}</td>
      </tr>
      {%endif%}
    </tbody>
</table>
</div>
</div>
{%else%}
<h1>You Dont Add Any Product to your Cart</h1>
{%endif%}
</div>
{%endblock cartview%}
