{%extends 'zappyapp/base.html'%}
{%block cartview%}
<div class="container">
  {%if price%}
  <div class="row">
    <div class="col-md-2">
      <table class="table">
        <thead>
          <tr>
          <th scope="col">Image</th>
        </tr>
        </thead>
        <tbody>
          {%for i in img%}
          <tr>
            <td><img src="{{i}}" height="45" width="45" alt=""></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
<div class="col-md-6">
<table class="table">
  <thead>
    <tr>
      <th scope="col">product_id</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {%for key,value in request.COOKIES.items%}
    {%if key.isdigit%}
    <tr>
      <td>{{key}}</td>
      <td>
      <form method="GET" action="{%url 'zappyapp:cartupdates'%}" >
      <input type="hidden" name="product_id" value="{{key}}"/>
      <input class="text-center"  min="1" max="20" type="number" name="items" value="{{value}}"/>
      </form>
      </td>
      <td>
      <form method="GET" action="{%url 'zappyapp:cartdel'%}" class="form-group"> <button name="product_id" value="{{key}}" type="submit"  class="btn btn btn-outline-secondary btn-sm">Remove</button></form>
      </td>
    </tr>
    {%endif%}
    {%endfor%}
  </tbody>
</table>
</div>
<div class="col-md-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {%for p in price%}
      <tr>
        <td>{{p}}</td>
      </tr>
      {%endfor%}
      {%if price%}
      <tr>
        <td>Total={{total}}</td>
      </tr>
      {%endif%}
    </tbody>
</table>
</div>
</div>
{%else%}
<h1>You Dont Add Any Product to your Cart</h1>
{%endif%}
{%if price%}
<form method="GET" action="{%url 'zappyapp:checkout'%}" class="form-group float-md-right"> <button name="" value="" type="submit"  class="btn btn btn-outline-secondary btn-sm">Checkout</button></form>
{%endif%}
</div>
{%endblock cartview%}
