{%extends 'zappyapp/base.html'%}
{%block products%}
{%if products%}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to the
World of Zappy</h1>
    <p class="lead text-muted">Where life is full of happiness
Or as we say ‘Zappyness’</p>
    <p>
      <a href="{% url 'zappyapp:readytoeat'%}"  class="btn btn-primary my-2">Ready To Eat Foods</a>
      <a href="{% url 'zappyapp:readytocook'%}" class="btn btn-secondary my-2">Ready To Cook Foods</a>
    </p>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container">
<h1>Latest items</h1>
<hr>
    <div class="row">
      {%for i in products%}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <a href="details/{{i.id}}"><img class="card-img-top" height="225" src="{{i.image.url}}" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">{{i.pname}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <form class="form-group" action="{%url 'zappyapp:addtocart'%}" method="POST">
                {% csrf_token %}
              <div class="btn-group">
                <input type="hidden" name="product_id" value="{{i.id}}">
                <input type="hidden" name="product_price" value="{{i.price}}">
                <button type="submit"  class="btn btn btn-outline-secondary btn-sm">Add to Cart</button>&nbsp&nbsp
                <input type="number" class="text-center" name="items" value="1" min="1" max="20" step="1">
                <!-- <button type="button" class="btn btn btn-outline-secondary btn-sm">Add to Wishlist</button> -->
              </div>
              </form>
              <h5 class="text-muted"><i class="fa fa-rupee">{{i.price}}</i></h5>
            </div>
          </div>
        </div>
      </div>

      {%endfor%}
      <br>
  <button class="view-more-button btn btn-primary">View more</button>

    </div>
    {% if products.has_next %}
    <a class="pagination__next" href="?page={{ products.next_page_number }}"></a>
  {% endif %}
  </div>
</div>
{%else%}
<div class="album py-5 bg-light" id="nop">
  <div class="container text-center">
<h1>Sorry But No Products Matching</h1>

</div>
</div>
{%endif%}
<script type="text/javascript">
$(".row").infiniteScroll({
// options
path: ".pagination__next",
append: ".col-md-4",
history: false,
button: '.view-more-button',
// load pages on button click
scrollThreshold: false,
// disable loading on scroll
});
</script>

<script type="text/javascript">
$(document).ready(function(){
	$("#id_product").blur(function(){
		var pname=$("#id_product").val();
    console.log(pname);
	   alert(pname);
  $.ajax({
			url:'checkproduct',
      data: {
        'pname': pname
          },
			type:'get',
      dataType: 'json',
      success: function (data) {
        if (data.is_taken) {
          alert("Product already exists.");
          $("#id_product").val("");
                           }
      });
    });
});
</script>
{%endblock products%}

{%block footer%}
{%if products%}
<footer class="footer">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <div class="copy-footer container-fluid text-center">Copyright &reg; 2015 Zappyfoods.in All rights reserved.</div>
  </div>
</footer>
{%endif%}
{%endblock footer%}
