{%extends 'zappyapp/base.html'%}
{%load crispy_forms_tags%}
{%block account%}
<div class="container">
<br><br><br>
    <div class="content-section" >
      <legend class="border-bottom mb-4">Login</legend>
      <form method="post">
        {%csrf_token%}
        <fieldset class="form-group">

            {{form|crispy}}
        </fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-outline-info">Login</button>
    </div>
      </form>
</div>
  <br>
  Don't Have Account? <a href="{%url 'zappyapp:registration'%}">Create Here</a>
</div>
{%endblock account%}

{%block footer%}

<footer class="footer">
  <div class="container">
    <div class="copy-footer container-fluid text-center">Copyright &reg; 2015 Zappyfoods.in All rights reserved.</div>
  </div>
</footer>

{%endblock footer%}
