{%extends 'zappyapp/base.html'%}
{%block products%}
<div class="container">
  <div class="row">
    {%if order%}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Delievery Address</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {%for i in order%}
    <tr>
      <td>{{i.pids|slice:"1:-1"}}</td>
      <td>{{i.delievery_address}}</td>
      {%if i.status is 1%}
      <td>Processing</td>
      {%elif i.status is 0%}
      <td>Pending</td>
      {%elif i.status is 2%}
      <td>Not Available</td>
      {%endif%}
    </tr>
    {%endfor%}
  </tbody>
</table>
{%else%}
<div class="jumbotron">
  <h1 class="display-4">Don't Have any Order To Display</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{%url 'zappyapp:home'%}" role="button">Order Something</a>
  </p>
</div>
{%endif%}
  </div>
</div>


{%endblock products%}
