{%extends 'zappyapp/base.html'%}
{%load crispy_forms_tags%}
{%block account%}

<div class="container">
  <br><br><br>
    <div class="content-section" >
  <form method="post">
    {%csrf_token%}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Registration</legend>
        {{reg_form|crispy}}
    </fieldset>
<div class="form-group">
  <button type="submit" class="btn btn-outline-info">Sign Up</button><br>
</div>
  </form>
   Already Have Account? <a href="{%url 'login'%}">Login Here</a>
</div>
</div>

{%endblock account%}

{%block footer%}

<footer class="footer">
  <div class="container">
    <div class="copy-footer container-fluid text-center">Copyright &reg; 2015 Zappyfoods.in All rights reserved.</div>
  </div>
</footer>

{%endblock footer%}
